.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  z-index: var(--overlay-layer);
  right: 0%;
  color: var(--bright);
  background-color: var(--dark);
}
