@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.App {
  text-align: center;
}

.App-header {
  color: var(--white);
  background-color: var(--deep);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-main {
  color: var(--white);
  background-color: var(--deep);
  display: flex;
  flex-direction: column;
  align-items: center;
}
