:root {
  --shadow: #555;
}

.spaced-across {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  padding: 20px;

  .item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

.button-clickable {
  box-shadow: 0px 8px var(--shadow);

  &:active {
    box-shadow: 0px 4px var(--shadow);
    transform: translate(0, 5px);
  }
}

.control-button {
  @extend .button-clickable;
  width: 70px;
}
